// Navbar styling
.navbar {
  margin: 1rem 0;

  align-items: center;
  align-content: center;
  justify-content: center;

  .navbar-item {
    font-size: var(--bulma-size-5);
    font-weight: var(--bulma-weight-light);
    text-transform: uppercase;

    a {
      padding: 0.25rem 0;
      color: var(--bulma-text);
      border-bottom: 1px transparent solid;

      &:hover, &:focus {
        border-bottom-color: var(--bulma-text);
      }

      &.active {
        color: var(--bulma-link);
        border-bottom-color: var(--bulma-link);
      }
    }
  }

  .navbar-logo {
    width: 64px;
    height: 64px;
  }
}