// Import the Bulma framework
@use 'bulma';

// Import submodules
@use 'navbar';


// Body layout
body {
  // Set the flex layout
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // Black bar layout
  & > .bar {
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
    height: 2.5rem;
    background-color: var(--bulma-dark);
  }

  // Main content layout
  & > .main-content {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

// Container layout
.container {
  max-width: 768px !important;
}

// Content styling
.content {
  // Element spacing
  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  // Heading styling
  @for $i from 1 through 6
  {
    h#{$i} {
      font-family: var(--bulma-family-secondary);
      font-weight: normal;

      @if $i <= 2 {
        text-transform: uppercase;
        color: var(--bulma-primary);
      }

      &:not(:first-child) {
        margin-top: 3rem;
      }
    }
  }

  // Link styling
  a:not(.button) {
    color: var(--bulma-link);
    border-bottom: 1px var(--bulma-link) dotted;
    transition: 0.1s ease-in-out;

    // Hover and active link styling
    &:hover, &:active {
      color: var(--bulma-primary);
      border-bottom-color: var(--bulma-primary);
      background-color: rgba(var(--bulma-primary), 15%);
    }

    // Links with overlay have no border
    &.is-overlay {
      border-bottom: none;
    }

    // Links with overlay have no background
    &.is-overlay:hover, &.is-overlay:active {
      color: var(--bulma-link);
      background: none;
    }
  }
}